body {
    
  font-family: "Montserrat", sans-serif;
}

:root {
    --primary-color: rgb(0, 133, 77);
}

.bg-prime {
    background-color: var(--primary-color);
}

.text-prime {
    color: var(--primary-color);
}

.navbar-brand img {
    width: 120px;
}

.navbar-brand h5 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 0px;
}

footer h5 {
    font-size: 28px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 0px;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px 20px !important;
    background-color: #000;
    /* border-radius: 100px; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}
/* 
.nav-two {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
} */

.new-btn {
    background-color: var(--primary-color);
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 600;
}

.new-btn-2 {
    background-color: transparent;
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid var(--primary-color);
}

.new-btn-3 {
    background-color: #fff;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
}

.new-btn-4 {
    background-color: transparent;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid #fff;
}

.new-btn-5 {
    background-color: #000;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid #fff;
}

.nav-item {
    margin: 0px 10px;
}

.nav-link {
    color: #fff !important;
}

.banner img {
    width: 100%;
}

.about {
    background-color: #eee;

}

/* .layer {
    background-color: rgba(0,0,0,1);
} */

.about-cntnt h1 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #000;
    text-transform: uppercase;
}

.about-cntnt h1 span {
    font-size: 56px;
    margin-bottom: 0px;
    font-weight: 900;
    color: var(--primary-color);
    position: relative;
    z-index: 99;
}

/* 
.about-cntnt h1 span::before {
    content: "Trezor Suite";
    color: #ddd;
    font-size: 110px;
    display: block;
    position: absolute;
    left: 10px;
    top: -40px;
    z-index: -1;
} */


.about-cntnt p {
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

.about-cntnt span {
    display: block;
    color: #555;
    font-size: 14px;
    margin-top: 8px;
}

.scroll-banner {
    background-image: url('../img/banner3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
}


.line {
    background-color: var(--primary-color);
}

.line h2 {
    color: #fff;
    font-size: 74px;
    font-weight: 800;
    text-transform: uppercase;
}

.o-hidden {
    overflow: hidden;
}

/* Sec-one */

.sec-one-img img{
    width: 100%;
    height: 100%;
}

.sec-one-cntnt h2 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    padding: 8px 0px;

}

.sec-one-cntnt p {
    color: #555;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.sec-one-cntnt ul {
    border-radius: 10px;
    margin-bottom: 10px;
}

.sec-one-cntnt ul li p {
    margin-bottom: 0px;
    font-size: 14px;
}

.sec-one-cntnt ul li h6 {
    color: #000;
    font-weight: 700;
}

footer {
    background-color: #000;
}

.footer-logo {
    margin-bottom: 25px;
}

.footer-logo img {
    width: 120px;
    margin-bottom: 10px;
}

.footer-menu {
}

.footer-menu h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #dddddd85;
    padding-bottom: 6px;
    margin-bottom: 15px;
}

.footer-menu a {
    color: #eee;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;

}

.footer-logo p {
    color: #eee;
}

.new-box h1 {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 20px;
}

.new-box h2 {
    font-weight: 700;
}

.new-box p {
    margin-bottom: 8px;
    color: #333;
}

.new-box li {
    margin-bottom: 15px;
}



@media only screen and (max-width: 700px) {

    .about-cntnt h1 {
        font-size: 42px;
    }

    .about-cntnt p {
        font-size: 24px;
    }

    .new-btn, .new-btn-2 {
        display: block;
        margin-bottom: 10px;
    }

    .sec-one-cntnt h2 {
        font-size: 24px;
    }

    .line h2 {
        font-size: 32px;
        margin-bottom: 0px;
    }

    .about-cntnt h1 span::before {
        content: "";
    }

}